= form_with model: @feedback, local: true do |f|
  
  = f.govuk_text_area :experience,
    label: { text: t('feedback.experience_label') },
    hint_text: t('feedback.experience_hint'),
    rows: 5

  = f.govuk_text_field :email,
    label: { text: t('feedback.email_label') },
    hint_text: t('feedback.email_hint')

  = f.govuk_collection_radio_buttons :rating,
    Feedback::RATINGS,
    :first,
    :last,
    legend: { text: t('feedback.ratings_label'), size: 's' }
 
  = f.govuk_submit( t('generic.continue') )
